.custom-shape-divider-bottom-1684356286 {
    position: absolute;
    bottom: -1339px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -99;
}

.custom-shape-divider-bottom-1684356286 svg {
    position: relative;
    display: block;
    width: calc(499% + 1.3px);
    height: 50rem;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684356286 .shape-fill {
    fill: #FFFFFF;
}

#headline {
    position: absolute;
    color: red;
    z-index: 999;
}

.user_container {
    margin-top: -80px;
}

.head_tag {
    text-align: center;
    color: #333;
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.25em;
    margin-bottom: 3rem;
    position: relative;
    top: 267px;
    z-index: 99;
}

.user_info {
    position: relative;
    z-index: 99;
    top: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: fit-content;
    row-gap: 2.5rem;
    column-gap: 43px;
    margin-left: 13rem;
    margin-right: auto;
}

.user img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.user .user_tag {
    display: block;
    color: #333;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin: 12px 0px 8px;
}

.bio {
    color: #9e9e9e;
    max-width: 290px;
    word-wrap: break-word;
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 4px 0px 0px;
}